<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <h1>Verify Yourself</h1>
      <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Submit">
      </form>
      <div class="options">
        <p><a href="#">Sign Up</a></p>
        <p><a href="#">Forgot Password</a></p>
      </div>
    </div>
  </body>
</html>
